Create a variable with your name and print each character using a loop

In [ ]:
name = "Taha"
for char in name:
    print(char)

T
a
h
a

Use slicing to print the first 4 characters of a string

In [ ]:
text = "PythonProgramming"
print(text[:4])

Pyth

Ask the user to input a number as a string, convert it to int, add 10, and print the result

In [ ]:
num = input("Enter a number: ")
num = int(num)
print(num + 10)

Enter a number: 1
11

Create a list of string numbers like ["10", "20", "30"], convert to int, and print updated list

In [ ]:
str_list = ["10", "20", "30"]
int_list = [int(x) for x in str_list]
print(int_list)

[10, 20, 30]

Check if "Python" is in a string using in and print a message

In [ ]:
text = "I am learning Python programming."
if "Python" in text:
    print("Yes, Python is present!")

Yes, Python is present!

Create a string, convert it to uppercase, lowercase, and title case

In [ ]:
text = "python is fun"
print(text.upper())
print(text.lower())
print(text.title())

PYTHON IS FUN
python is fun
Python Is Fun

Use type() to display data types before and after casting from string to integer

In [ ]:
num_str = "100"
print(type(num_str))   # string
num_int = int(num_str)
print(type(num_int))

<class 'str'>
<class 'int'>

Take user input for name and age. Check if age (casted to int) is above 18 and print eligibility

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

if age > 18:
    print(name, "is eligible.")
else:
    print(name, "is not eligible.")

Create a variable with mixed-case text. Check if the text is uppercase and print results

In [ ]:
text = "PyThOn"
print(text.isupper())

Create a string with numbers, convert it to float and int, and print all conversions with their types

In [ ]:
num_str = "25"
num_float = float(num_str)
num_int = int(num_str)

print(num_str, type(num_str))
print(num_float, type(num_float))
print(num_int, type(num_int))