positive / negative /zero

In [14]:
num = 2

if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

positive

Even or Odd

In [15]:
num = 7

if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

 Voting Eligibility

In [16]:
age = 17

if age >= 18:
    print("eligible to vote")
else:
    print("not eligible to vote")

not eligible to vote

Divisible by 3, 5, or Both

In [17]:
num = 30

if num % 3 == 0 and num % 5 == 0:
    print("divisible by both 3 and 5")
elif num % 3 == 0:
    print("divisible by 3")
elif num % 5 == 0:
    print("divisible by 5")
else:
    print("not divisible by 3 or 5")

divisible by both 3 and 5

Grade using if/elif/else

In [18]:
marks = 82.5

if marks >= 90:
    print("A+")
elif marks >= 80:
    print("A")
elif marks >= 70:
    print("B")
elif marks >= 60:
    print("C")
elif marks >= 50:
    print("D")
else:
    print("Fail")

A

Print numbers 1 to 10

In [19]:
for taha in range(1, 11):
    print(taha)

1
2
3
4
5
6
7
8
9
10

Multiplication Table of 6

In [20]:
for i in range(1, 6):
    print(f"6 x {i} = {6 * i}")

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30

All Even Numbers between 1 and 20

In [21]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Print Each Letter of a Word

In [22]:
word = "hello"

for ch in word:
    print(ch)

h
e
l
l
o

Count Vowels in "education"

In [23]:
word = "education"
vowels = "aeiouAEIOU"
count = 0

for ch in word:
    if ch in vowels:
        count += 1

print("vowel count:", count)

vowel count: 5