 **Q1: List of fruits**

In [ ]:
fruits = ["Mango", "Apple", "Orange", "Grapes", "Pineapple"]

print("My favorite fruits are:")
for fruit in fruits:
    print(fruit)

**Q2: Tuple example**

In [ ]:
person = ("Taha", 17, "Gujranwala")

print("Name:", person[0])
print("Age:", person[1])
print("City:", person[2])

**Q3: Dictionary example**

In [2]:
 student = {
    "name": "Taha",
    "class": "1st Year",
    "score": 95
}

print("Student Information:")
for key, value in student.items():
    print(key, ":", value)

Student Information:
name : Taha
class : 1st Year
score : 95

**Q4: Update fruits list**

In [3]:
fruits = ["Mango", "Apple", "Orange", "Grapes", "Pineapple"]

fruits.append("Banana")

fruits.remove("Apple")

print("Updated fruit list:", fruits)

Updated fruit list: ['Mango', 'Orange', 'Grapes', 'Pineapple', 'Banana']

**Q5: Counting items**

In [ ]:
fruits = ["Mango", "Apple", "Orange", "Grapes", "Pineapple"]

# Method 1: Using len()
print("Total items (len):", len(fruits))

# Method 2: Using loop
count = 0
for fruit in fruits:
    count += 1
print("Total items (loop):", count)

**Q6: Value in Tuple**

In [ ]:
student = ("Taha", 17, "Gujranwala")

if "Taha" in student:
    print("Yes, 'Taha' is in the tuple")
else:
    print("No, 'Taha' is not in the tuple")

**Q7: Add to Dictionary**

In [4]:
student = {
    "name": "Taha",
    "class": "1st Year",
    "score": 95
}

student["age"] = 17

print("Updated Dictionary:")
for key, value in student.items():
    print(key, ":", value)

Updated Dictionary:
name : Taha
class : 1st Year
score : 95
age : 17

**Q8: List to Tuple**

In [5]:
fruits = ["Apple", "Mango", "Orange"]

fruits_tuple = tuple(fruits)

print("List:", fruits)
print("Tuple:", fruits_tuple)

List: ['Apple', 'Mango', 'Orange']
Tuple: ('Apple', 'Mango', 'Orange')